@{
    ViewBag.Title = "Index";
}

<h2>My View</h2>
<p>
    Hello World
</p>

@if (DateTime.Now.Hour >= 12)
{
    <p>Schönen Nachmittag</p>
}
else
{
    <p>Guten Morgen </p>
}

@Html.ActionLink("Neues Buch anlegen", "BookForm")
