@{
    ViewBag.Title = "BookForm";
}

<h2>Buch anlegen</h2>
@using (Html.BeginForm())
{
    <label for="title">Buchtitel</label><br />
    <input id="title" name="title" type="text" /> <br />
    <label for="isbn">ISBN</label><br />
    <input id="isbn" name="isbn" type="text" /><br />

    <button type="submit">Abschicken</button>
}

